.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #320032;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.nav{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;

}

.content{
  text-align: center;
  height: 90vh;
}


.dark-mode{
  background: rgb( 46, 45, 45);
  color: rgb( 202, 202, 202);
}

/* .dark-mode .???{} */



/* TODO LIST             //////////////////////////////////////////////////////////////////////*/

.inputsDark{
  border-radius: 5px 58px 80px; 
}
.inputsLight{
  border-radius: 5px 58px 80px;
  border :10px solid black;
}
.button1Dark{
  border-radius: 80px;
  background-color:black ;
  color :white;
}
.button1Light{
  border-radius: 80px;
  background-color:purple ;
  color :white;
}
ol{
  border: 10px solid black;
  width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 410px;
}
.button2{
  margin: 20px 50px;
  border-radius: 80px;
  background-color:black ;
  color :white;

}
.button2Light{
  margin: 20px 50px;
  border-radius: 80px;
  background-color:purple ;
  color :white;
}
